* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    background-color: #f4f4f4;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.resume-container {
    width: 700px;
    margin: 50px auto;
    background-color: white;
}

header {
   
    display: flex;
    background-color: #2980b9;
    color: white;
    padding: 20px;
    height: 110px;
    align-items: center;
    justify-content: left;  
}

.front{
   margin: auto;
    background-color: #27ae60;
    color: white;
    padding: 10px;
    height: 15px;
    display: flex;
    align-items: center;
}

.profile-pic img {
    width: 180px;
    height: 180px;
    padding: 20px;
    margin: 20px;
    margin-top: 100px;
}


header h1 {
    font-size: 36px;
}

header h2 {
    font-size: 30px;
    margin-top: 10px;
}

.resume-body {
    display: flex;
    padding: 20px;
}
.resume-body h2 {
    font-size: 30px;
    font-weight: bolder;
}
.left-section {
    width: 40%;
    padding: 10px;
}
.right-section {
    width: 60%;
    padding: 10px;
}
.about-me {
    margin-top: 30px;
}

.about-me, .skills, .interests, .career-objective, .experience {
    margin-bottom: 30px;
}
.contact-info {
    margin-bottom: 30px;
    display: flex;
}
.info {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 33px;
}
.education {
    margin-bottom: 30px;
    display: flex;
    
}
.info-det {
    margin-top: 5px;
    margin-left: 10px;
}
.edu-year {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.experience {
    display: flex;
}
.exp-year {
    display: flex;
    flex-direction: column;
    gap: 45px;
}
.exp-year p {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: larger;
   
}
.exp-co {
    margin-left: 10px;
}
.resume-body h2 {
    color: black;
    margin-bottom: 10px;
    font-size: 18px;
}
.edu-year p {
    font-weight: bold;
    font-size: larger;
}

p {
    margin-bottom: 10px;
    line-height: 1.6;
}

ul {
    list-style: none;
    padding-left: 20px;
    gap: 40px;
}

ul li {
    margin-top: 15px;
    margin-bottom: 8px;
    gap: 40px;
}

.contact-info p strong {
    display: inline-block;
    width: 70px;
}

.right-section p strong {
    color: black;
}
.skills {
    max-width: 400px;
    margin: 0 auto;
   
}
hr{
    border: 2px solid;
    margin-left: 0px;
    color: #2980b9;

}
.l1{
    width: 80%;
}
.l2{
 width: 90%;
}
.l3{
    width: 80%;

}
.l4{
    width: 75%;
}
.l5{
    width: 85%;
}
.l6{
    width: 75%;
}
.l7{
    width: 80%;
}
.l8{
    width: 90%;
}
.l9{
    width: 83%;
}
.l10{
    width: 75%;
}
.logo{
    display: flex;
    justify-content: space-between;
}
.logo img {
    width: 90%;

}


